@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Josefin Sans", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
.ql-size-large {
  @apply text-2xl;
}
.ql-size-huge {
  @apply text-3xl;
}
.ql-size-small {
  @apply text-xs;
}
.Typewriter {
  /* display: inline; */
  color: red;
}
.card {
  @apply grid grid-cols-1 place-self-center bg-white rounded-lg shadow-sm break-words p-5;
}
.list-wrapper {
  @apply border-green-100 grid grid-cols-1 space-y-1 text-xs;
}
.list-header {
  @apply hidden bg-gray-200 text-base p-3 rounded-t-md;
}
.list-body-def {
  @apply odd:bg-gray-100 even:bg-gray-100 hover:bg-[#907ce9]  hover:text-white;
}

.list-body {
  @apply py-3 px-3 text-base list-body-def;
}
.list-footer {
  @apply bg-gray-300 rounded-b-md p-3 mt-2;
}
.btn {
  @apply p-2  font-semibold text-white flex justify-center items-center rounded-lg shadow-lg cursor-pointer transition delay-75;
}
.btn-success {
  @apply btn bg-green-600 hover:bg-green-700;
}
.btn-danger {
  @apply btn bg-red-600 hover:bg-red-700;
}
.form-col {
  @apply grid grid-cols-1 gap-4 place-items-start;
}
.form-row {
  @apply grid grid-cols-1;
}

.form-control {
  @apply w-full p-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none sm:text-sm;
}

.input-border-primary {
  @apply focus:ring-primary focus:border-primary;
}

.input-border-danger {
  @apply focus:ring-red-400 focus:border-red-400;
}

.form-new-input {
  @apply block w-full px-4 py-2 mt-2 text-purple-700 bg-white border rounded-md focus:border-purple-400 focus:ring-purple-300 focus:outline-none focus:ring focus:ring-opacity-40;
}
.save-btn {
  @apply w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-purple-700 rounded-md hover:bg-purple-600 focus:outline-none focus:bg-purple-600;
}
.input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(100, 100, 100);
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

.textarea {
  width: 100%;
  /* height: 120px; */
  border: none;
  border-bottom: 1px solid rgb(100, 100, 100);
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 10px;
}

.button {
  width: 100%;
  padding: 10px 20px;
  color: aliceblue;
  background-color: #f5921e;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn2 span:first-child {
  transform: translateX(-101%);
  transition: transform 0.3s ease-in;
}
.btn2:hover span {
  transform: translateX(0);
}

/* since nested groupes are not supported we have to use 
     regular css for the nested dropdowns 
  */
li > ul {
  transform: translatex(100%) scale(0);
}
li:hover > ul {
  transform: translatex(101%) scale(1);
}
li > button svg {
  transform: rotate(-90deg);
}
li:hover > button svg {
  transform: rotate(-270deg);
}

/* Below styles fake what can be achieved with the tailwind config
     you need to add the group-hover variant to scale and define your custom
     min width style.
  	 See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
  	 for implementation with config file
  */
.group:hover .group-hover\:scale-100 {
  transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg);
}
.scale-0 {
  transform: scale(0);
}
.min-w-32 {
  min-width: 8rem;
}
